@use "reset.css";

/* Typography and basic elements */
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  min-height: 90vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
}

footer {
  position: relative;
  bottom: 0;
}

/* Layout */

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lightbox {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  height: 20rem;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0 29px 80px -40px #7280a7;
  .panel {
    flex: 1;
  }
  .background {
    background: url(images/bg-pattern-desktop.svg);
    margin-left: -10rem;
    background-size: 90%;
    background-repeat: no-repeat;
    height: 100%;
    
  }
  
}
.floating-img {
  position: relative;
}

/* Elements */
details > summary {
  list-style-type: none;
  font-weight: bold;
  &::after {
    content: url(images/icon-arrow-down.svg);
  }
}
