@use "reset.css";

/* VARIABLES */

//@use ".scss";
/* Breakpoints */
$mobile-width: 768px;
$desktop-width: 1440px;
/* Colors */
//text primary
$desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
//background
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
//text neutral
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
//dividers
$light-grayish-blue: hsl(240, 5%, 91%);
$primary: $desaturated-blue;
/* Typography */

/* END VARIABLES */

/* Typography and basic elements */
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  min-height: 90vh;
  background-image: linear-gradient($soft-violet, $soft-blue);
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
}

h1 {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem 0;
}

footer {
  margin: 0;
  margin-top: 1rem;
  margin-left: 0;

  .attribution {
    font-size: 11px;
    color: $very-dark-grayish-blue;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
hr {
  color: $light-grayish-blue; //for IE
  background-color: $light-grayish-blue;
}

/* Layout */

#lightbox {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 20px;

  margin: 0 auto;
  margin-top: 150px;
  width: 90%;
  max-width: 710px;
  background-color: #fff;
  box-shadow: 0 60px 84px -39px #1d1e35;
  .panel {
    flex: 1 0 315px;
    display: flex;
    .center {
      width: 100%;
      margin: 2rem;
      margin-left: 0;
    }
  }
  .background {
    background-image: url(images/bg-pattern-desktop.svg);
    height: 350px;
    background-size: 700px;
    background-position: -405px -212px;
    background-repeat: no-repeat;
    .glued-images {
      width: 355px;
      margin-top: 50px;
      .cropper {
        overflow: hidden;

        .static-img {
          margin-left: -60px;
        }
      }
      .floating-img {
        position: relative;
        width: 149px;
        top: -177px;
        left: -73px;
      }
    }
  }
}

/* Elements */
details {
  & > summary {
    margin: 0.6rem 0;
    list-style-type: none;
    color: $very-dark-grayish-blue;
    display: flex;
    justify-content: space-between;
    &:hover {
      color: $soft-red;
    }

    .arrow {
      margin-left: 1rem;
      &:after {
        content: url(images/icon-arrow-down.svg);
        white-space: nowrap;
        display: block;
        transition: transform 0.2s ease;
      }
    }
  }
  &[open] > summary {
    font-weight: bold;
    margin-bottom: 0.3rem;
    .arrow:after {
      transform: rotate(0.5turn);
    }
  }
  p {
    color: $dark-grayish-blue;
  }
}

@media screen and (max-width: $mobile-width) {
  .center {
    margin-left: 2rem !important;
  }
  .glued-images {
    margin: 0 auto !important;
    margin-top: -110px !important;
    .cropper {
      overflow: visible !important;
      img {
        margin: 0 !important;
      }
    }
    .floating-img {
      left: 0 !important;
    }
  }
}
