@use "reset.css";

/* Typography and basic elements */
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  min-height: 90vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
}

footer {
  position: relative;
  bottom: 0;
}

/* Layout */

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lightbox {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 10px;
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  //overflow: hidden;
  box-shadow: 0 29px 80px -40px #7280a7;

  .panel {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
  }
  .background {
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: -320px -100px;
    .glued-images {
      height: 200px;
      width: 234px;
      .cropper {
        overflow: hidden;

        .static-img {
          margin-left: -38px;
        }
      }
      .floating-img {
        position: relative;
        width: 78px;
        top: -105px;
        left: -38px;
      }
    }
  }
}

/* Elements */
details > summary {
  list-style-type: none;
  font-weight: bold;
  &::after {
    content: url(images/icon-arrow-down.svg);
  }
}
